autocore-arm \
base-files \
bcm27xx-gpu-fw \
block-mount \
busybox \
ca-bundle \
cypress-firmware-43455-sdio \
cypress-nvram-43455-sdio-rpi-4b \
default-settings-chn \
dnsmasq-full \
dropbear \
e2fsprogs \
firewall \
fstools \
htop \
iptables \
iwinfo \
kernel \
kmod-brcmfmac \
kmod-fs-vfat \
kmod-ipt-raw \
kmod-nf-nathelper \
kmod-nf-nathelper-extra \
kmod-nls-cp437 \
kmod-nls-iso8859-1 \
kmod-sound-arm-bcm2835 \
kmod-sound-core \
kmod-usb-hid \
libc \
libgcc \
libustream-openssl \
logd \
luci \
luci-app-filetransfer \
luci-app-turboacc \
luci-lib-fs \
luci-lib-ipkg \
mkf2fs \
mtd \
netifd \
openssh-sftp-server \
opkg \
partx-utils \
ppp \
ppp-mod-pppoe \
procd \
uci \
uclient-fetch \
urandom-seed \
wpad-basic \
luci-app-aria2 \
luci-app-passwall \
whereis