autocore-x86 \
automount \
base-files \
block-mount \
busybox \
ca-bundle \
default-settings-chn \
dnsmasq-full \
dropbear \
e2fsprogs \
fdisk \
firewall \
fstools \
iptables \
kernel \
kmod-8139cp \
kmod-8139too \
kmod-amazon-ena \
kmod-amd-xgbe \
kmod-bnx2 \
kmod-button-hotplug \
kmod-e1000 \
kmod-e1000e \
kmod-forcedeth \
kmod-fs-f2fs \
kmod-i40e \
kmod-iavf \
kmod-igb \
kmod-igbvf \
kmod-ipt-raw \
kmod-ixgbe \
kmod-mlx4-core \
kmod-mlx5-core \
kmod-nf-nathelper \
kmod-nf-nathelper-extra \
kmod-pcnet32 \
kmod-r8125 \
kmod-r8168 \
kmod-r8169 \
kmod-sound-hda-codec-hdmi \
kmod-sound-hda-codec-realtek \
kmod-sound-hda-codec-via \
kmod-sound-hda-core \
kmod-sound-hda-intel \
kmod-sound-i8x0 \
kmod-sound-via82xx \
kmod-tulip \
kmod-usb-audio \
kmod-usb-hid \
kmod-usb-net \
kmod-usb-net-asix \
kmod-usb-net-asix-ax88179 \
kmod-usb-net-rtl8150 \
kmod-usb-net-rtl8152 \
kmod-vmxnet3 \
libc \
libgcc \
libustream-openssl \
logd \
luci \
luci-app-filetransfer \
luci-app-turboacc \
luci-lib-fs \
luci-lib-ipkg \
mkf2fs \
mtd \
netifd \
opkg \
partx-utils \
ppp \
ppp-mod-pppoe \
procd \
uci \
uclient-fetch \
urandom-seed \
urngd \
luci-app-aria2 \
luci-app-passwall \
whereis